*{
    box-sizing: border-box;
}
.row{
    padding: 20px;
    width: 100%;
    min-height: 1px;
    float:left;
    font-family: 'Merienda One', cursive;
}
.col{
    min-height: 80px;
    border-radius: 8px;
    margin-left: 0;
    margin-right: 5%;
    display:inline-block;
    float: left;
}
.col.one{
  font-size: 100%;
  min-height: 50px;
}
.col.two{
  margin-left: 10%;
  width: 80%;
  background-color: #191919;
  color: white;
}
.itbiography{
  text-align: center;
  font-size: 120%;
  margin: 30px;
}
.col.four{
  width: 20%;
  background-color: red;
  text-align: center;
  min-height: 10vw;
}
.col.five{
  width: 20%;
background-color: red;
min-height: 10vw;
}
.col:first-child{
    margin-left: 0%;
}
.col:last-child{
    margin-right: 0px;
}
@media (max-width: 470px){
    .col{
        width: 90% !important;
        margin: 5px 0px 5px 0px;
    }
}
@media only screen and (max-width: 585px) {
body { font-size:60%;}
}
.col.one{width: 100%;}
.header{
}
h1 {
	color: white;
position: absolute;
text-align: center;
line-height: inherit;
margin: 0px;
width: 100%;
line-height: 2;
font-family: 'Merienda One', cursive;
height: 100px;
}

h3{
 font-family: 'Goudy Bookletter 1911', cursive;
}
img {
	overflow:hidden;
	z-index: -1;
	margin: 0px;
	width: 100%;
	margin-bottom: 5px;
}

body {
	background-color: white;
	margin: 0px;
	height: 100vh;
	min-width: 300px;
}
p {
	min-height: 20px;
	margin-bottom: 3vh;
	text-align: left;
  font-size: 100%;
  border: 1px;
}

footer {
	text-align: center;
	margin-top: 30vh;
	margin-bottom: 10px;
  font-family:'Merienda One', serif;
}
details{
	text-align: left;
  font-size: 150%;
}
summary{
	text-align: left;
	margin-bottom: 1px;
  font-family: 'Goudy Bookletter 1911', serif;
  margin-top: 50px;
  font-size: 120%;
  background-color: grey;
  border-radius: 5px;
  height: 40px;
}
 .welkomstwoord{
  background-color: lightblue;
  margin: 5px;
  border-radius: 5px;
  font-family: 'Libre Franklin', sans-serif;
  margin-top: 0;
}
